*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%
}
body{
    font-family:  'Open Sans', sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
    position:relative;
    color:rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}
img{
    max-width: 100%;
    height: auto;
}
h1{
    margin:1.5rem 0 1.5rem 3rem;
}

h2{
    padding-bottom: 3rem;
    color: rgb(0, 28, 16);
}

button{
    border: none;
    color:inherit;
    font-family:  'Open Sans', sans-serif;
    font-weight: 600;
    font-size: inherit;
}
/* shared styling */
h1,
h2{
    
    color:rgb(0, 28, 16);
    font-size: 4rem
}
h2,
.book,
footer{
    text-align: center;
}
body,
.nav-bar,
.logo, 
.create_button,
.book_shelf, 
.book, 
.book_cover, 
label {
    display : flex
}
body,
.nav-bar, 
.book_cover{
    justify-content: space-between
}
.nav-bar,
.logo,
.create_button, 
.book_shelf,
.book, 
.form_section{
    align-items: center;
}
body,
.book, 
.book_cover{
    flex-direction: column
}
body,
.nav-bar,
.book_shelf,
.form_section,
input,
label,
footer{
    width: 100%;
}
/* individual stling */
.nav-bar{
    height:15vh;
    background: rgba(0,26,14,1);
    background: linear-gradient(150deg, rgba(0,230,126,1) 0%, rgba(0,153,84,1) 25%, rgba(0,69,38,1) 63%, rgba(0,26,14,1) 100%); 
    padding: 2rem 4rem 2rem 3rem ;
}
.logo{
    height:100%;
}
.logo_text{
    font-family: 'Poppins', sans-serif;
    font-size: 4.8rem;
    line-height: 150%;
}
.logo_img{
    width:50px;
    height: 50px;
    position: relative;
    bottom: 5%;
}
.no_book--alert{
    font-size: 2rem;
    font-weight: 700;
}
.create_button{
    justify-content: space-evenly;
    padding: 4px 6px;
    border-radius: 12px;
    height: 48px;
    width: 144px;
    background:rgb(0, 230, 118);
}
.create_button:hover,
.toggle_read:hover,
.delete_btn:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.add_icon{
    width:16px;
}
/* book shelf and book ui */
.book_shelf{
    justify-content: flex-start;
    gap: 60px;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    padding: 2rem 5.5rem;
}
.book{
    gap: 20px;
}
.book,
.form_section{
    justify-content: center;
    
}
.book_cover{
    border-radius: 12px;
    width: 200px;
    height: 300px;
    padding: 2rem;
    color: rgb(0, 28, 16);
    box-shadow: 2px 1px 10px 1px rgba(0, 69, 38, 0.69);
}
.book_cover--title{
    font-size: 1.8rem;
}
.book_cover--title,
.book_cover--author{
    text-transform: capitalize;
    font-weight: 700;
}
.toggle_read,
.delete_btn{
    height: 45px;
    width: 150px;
    border-radius: 10px;
}
.read{
    background:rgb(0, 230, 118);
    box-shadow: none;
}
.nt-read{
    background: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 153, 84,0.5);
    color: rgb(0, 28, 16);
}
.delete_btn{
    background: #fd1111;
}
/* form ui */
.form_section{
    display: none;
    z-index: 3;
    position: absolute;
    top: 0%;
    height: 100vh;
    background: rgba(223, 240, 221, 0.422);
}
.modal-form{
    border-radius: 15px;
    box-shadow: 2px 1px 10px 1px rgb(0, 69, 38);
    width:350px;
    height: 460px;
    padding:2.5rem;
    background-color: rgb(255, 255, 255);
}
.form-icon{
    width:28px;
}
input{
    height: 4rem;
    font-size: 2rem;
    border-top :none;
    border-left: none;
    border-right: none;
    background: rgb(255, 255, 255);
    outline: none;
    /* filter: blur(0) */
}
input::placeholder{
    font-size: 2rem;
}
input:focus{
    border:none;
}
label{
    gap: 10px;
    margin-bottom: 3rem;
}
.add_book{
    border: none;
    margin: auto;
    border-radius: 15px;
    background-color: rgb(0, 153, 84);
    width: 144px;
    height: 48px;
    color:inherit;
}
.add_book:hover{
    transform: scale(1.1)
}
/* footer section */
footer{
    height:7vh;
    padding : 1rem 0;
    background: rgb(0, 69, 38);
}
